
@using Microsoft.AspNetCore.Http


<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <title>Shipment Management</title>
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://www.creative-tim.com/product/argon-dashboard-pro" />


    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/assets/vendor/%40fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <!-- DataTable CSS-->
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="~/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">

    <!-- Argon CSS -->
    <link rel="stylesheet" href="~/assets/css/argon.mine209.css?v=1.0.0" type="text/css">
    <link rel="stylesheet" href="~/css/loading.css">
    <link href="~/sweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/sweetAlert/sweetalert.min.js"></script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '../../../../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <!-- Brand -->
            <div class="sidenav-header d-flex align-items-center">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    @*<img src="~/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">*@
                    <span class="nav-link-text">Shipment Mgt.</span>
                </a>
                <div class="ml-auto">
                    <!-- Sidenav toggler -->
                    <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-inner">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Nav items -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link active" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                                <i class="ni ni-shop text-primary"></i>
                                <span class="nav-link-text">Home</span>
                            </a>
                        </li>
                 

                         
                        <li class="nav-item">
                            <a class="nav-link" href="#requisition" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="driver">
                                <i class="ni ni-user-run text-blue"></i>
                                <span class="nav-link-text">driver</span>
                            </a>
                            <div class="collapse" id="requisition">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a asp-controller="Driver" asp-action="Index" class="nav-link">Manage Driver</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#approval" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="approval">
                                <i class="ni ni-delivery-fast text-green"></i>
                                <span class="nav-link-text">Shiment</span>
                            </a>
                            <div class="collapse" id="approval">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a asp-controller="Shipment" asp-action="Index" class="nav-link">Manage Shipments</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                      
                    
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Topnav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <h1 class="text-white">Shipment Management</h1>
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center ml-md-auto">
                        <li class="nav-item d-xl-none">
                            <!-- Sidenav toggler -->
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-sm-none">
                            <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                                <i class="ni ni-zoom-split-in"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-center ml-auto ml-md-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center">
                                    <span><i class="ni ni-single-02"></i></span>
                                    <div class="media-body ml-2 d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">Test User</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">                              

                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="get">
                                    <button type="submit" class="dropdown-item">
                                        <i class="ni ni-user-run"></i>
                                        <span>Logout</span>
                                    </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row align-items-center py-4">
                        <div class="col-lg-6 col-7">
                            <h6 class="h2 text-white d-inline-block mb-0"> @ViewData["Title"]</h6>
                            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                    <li class="breadcrumb-item">
                                        <a asp-controller="Home" asp-action="Index" class="nav-link active" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                                            <i class="fas fa-home"></i>
                                        </a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-lg-6 col-5 text-right">
                            <a asp-controller="Shipment" asp-action="Create" class="btn btn-sm btn-neutral">New Shipment</a>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--6">
            @*  <partial name="_CookieConsentPartial" />*@
            <partial name="_NotificationPanel" />
            @RenderBody()
            <partial name="_Loading" />
            <!-- Footer -->
            <footer class="footer pt-0">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6">
                        <div class="copyright text-center text-lg-left text-muted">
                            &copy; 2022 @*<a href="https://www.creative-tim.com/" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>*@
                        </div>
                    </div>
                    
                </div>
            </footer>
        </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <script src="~/assets/vendor/lavalamp/js/jquery.lavalamp.min.js"></script>
    <!-- Optional JS -->
    <script src="~/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="~/assets/vendor/chart.js/dist/Chart.extension.js"></script>

    <script src="~/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>

    <script src="~/assets/vendor/cdnjs/jszip.min.js"></script>
    <script src="~/assets/vendor/cdnjs/pdfmake.min.js"></script>
    <script src="~/assets/vendor/cdnjs/vfs_fonts.js"></script>


    <script src="~/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

    <!-- Argon JS -->
    <script src="~/assets/js/argon.mine209.js?v=1.0.0"></script>
    <!-- Demo JS - remove this in your project -->
    <script src="~/assets/js/demo.min.js"></script>
    <script>
        // Facebook Pixel Code Don't Delete
        ! function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '../../../../connect.facebook.net/en_US/fbevents.js');

        try {
            fbq('init', '111649226022273');
            fbq('track', "PageView");

        } catch (err) {
            console.log('Facebook Track Error:', err);
        }
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&amp;ev=PageView&amp;noscript=1" />
    </noscript>

    <script type="text/javascript">
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });
        function displayBusyIndicator() {
            $('.loading').show();
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>

<!-- Mirrored from demos.creative-tim.com/argon-dashboard-pro/pages/dashboards/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Feb 2019 09:19:36 GMT -->
</html>